<footer>
    <div>
        <div style="padding: 30px;">
            <div style="background: #F1F1F1 0% 0% no-repeat padding-box;
                        border-radius: 22px;">
                <div style="padding: 20px">
                    <p style="font-weight: 100;
                            font-size: 20px ;
                            line-height: 37px;
                            font-family: Verdana;
                            color: #8F91A4;
                            text-align: center;
                            line-height: 1.8">
                           Have a good Day!
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
