<header>
    <div style="text-align: center; width: 100%;">

        <div style="width: 250px; float: left; text-align: left;">
            <a href="{{frontend_Base_URL}}">
                <img src="../../../assets/images/icon/nic.png" alt="logo.png" style="width: 65%;"/>
            </a>
        </div>

        <div style="clear: both;"></div>

    </div>
</header>
